//============================【 Element（最小module）】============================

// ボタン基本形
.el_btn_location {
  text-align: center;
}
.el_btn {
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  padding: 10px;
  background-color: $c_ylw;
  border: 3px solid $c_bk;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 100vh;
  font-weight: 600;
}
.el_btn__lor {
  background-color: $c_lylw;
}
.el_btn__sm {
  min-width: 200px;
  font-size: 1.4rem;
  border: 2px solid $c_bk;
}

// \テキスト/の装飾
.el_deco_bracket {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  &::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 16px;
    background: #000;
    transform: rotate(15deg);
    margin-left: 10px;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 16px;
    background: #000;
    transform: rotate(-15deg);
    margin-right: 10px;
  }
}

// ボタン2種類目
.el_btn__primary {
  // ココにスタイリング
  &:hover,
  &:focus {
    background-color: #fff;
    border-color: currentColor;
    color: #000;
  }
}

// ボタン用の矢印アイコン付与
.el_btn__arrowRight {
  position: relative;
  &::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    margin: auto;
    border-top: 3px solid black;
    border-right: 3px solid black;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

//============================【text】============================

// 文字装飾（色,サイズ,太さ,配列）
.cmp_heading_01 {
  @include txt_style($c_bk, 2.5rem, 800, center);
  background-color: $c_lylw;
  padding: 10px;
  border-radius: 5px;
}
.cmp_heading_02 {
  @include txt_style($c_bk, 2rem, 800, left);
  padding: 10px 0;
  border-bottom: 2px solid $c_br;
}
.cmp_heading_03 {
  @include txt_style($c_bk, 1.4rem, 400, left);
  padding: 15px 0;
  line-height: 1.5;
}
.cmp_heading_04 {
  @include txt_style($c_bk, 1.8rem, 800, center);
  background-color: $c_wt;
  padding: 10px;
  border-radius: 5px;
}

// 下層ページ共通H1タイトル
.cmp_heading_05 {
  @include txt_style($c_bk, 3rem, 800, center);
  margin-bottom: 50px;
}

//============================【block（複合module）】============================

// media
.bl_media {
  display: flex;
  align-items: center;
  &_imgWrapper {
    flex: 0 1 10%; //flex関連のショートハンド（grow,shrink,basis）
    margin-right: calc(40px / $contInnterWidth); //余白指定したい40pxを%換算
    & > img {
      width: 100%;
    }
  }
  &_body {
    flex: 1;
    & > *:last-child {
      margin-bottom: 0; //要素が削れた時に、最後の要素が常に「余白なし・中央揃え」になるよう調整
    }
  }
  &_ttl {
    margin-bottom: 10px;
    font-size: 10rem;
    font-weight: bold;
  }
  // media（逆ver）
  &.bl_media__rev {
    flex-direction: row-reverse;
    &_imgWrapper {
      margin-right: 0;
      margin-left: calc(40px / $contInnterWidth); //余白指定したい40pxを%換算
    }
  }
  @include max768 {
    display: block;
    &_imgWrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }
    &.bl_media__rev {
      &_imgWrapper {
        margin-left: 0;
      }
    }
  }
}
// card
.bl_card {
  &_imgWrapper {
    position: relative;
    padding-top: 50%;
    overflow: hidden;
    & > img {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &_body {
    padding: 15px;
    & > *:last-child {
      margin-bottom: 0; //要素が削れた時に、最後の要素が常に「余白なし・中央揃え」になるよう調整
    }
  }
  &_ttl {
    margin-bottom: 10px;
    font-size: 10rem;
    font-weight: bold;
  }
}
.bl_cross_table {
  border: 1px solid #000;
  table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    th,
    td {
      padding: 15px;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      vertical-align: middle;
      &:last-child {
        border-bottom-width: 0;
      }
    }
    tbody {
      tr:last-child {
        th,
        td {
          border-bottom-width: 0;
        }
      }
    }
  }
  @include max768 {
    border-right-width: 0;
    overflow-x: auto;
    table {
      width: auto;
      min-width: 100%;
      th,
      td {
        white-space: nowrap;
        &:last-child {
          border-bottom-width: 1px;
        }
      }
    }
  }
  .mdStucky {
    position: sticky;
    left: 0;
  }
}

// 吹き出し
.el_bubble {
  background-color: $c_gry;
  padding: 20px 20px;
  border-radius: 50vh;
  text-align: center;
  font-size: 1.4rem;
  left: 0;
  font-weight: 600;
  span {
    font-size: 1.8rem;
    color: $c_red;
  }
}

.el_arrow_right_list {
  > * {
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 25px;
      height: 40px;
      background-image: url(../img/ico/ico_arrow_br.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: -23%;
      @include max768 {
        top: auto;
        bottom: -30px;
        right: 0;
        left: 0;
        transform: rotate(90deg);
      }
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}

// キャラクターライン
.el_deco_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::before,&::after{
    content: "";
    display: inline-block;
    width: 100%;
    max-width: 40%;
    height: 100px;
    background-image: url(../../assets/img/deco/deco_chr_line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

  }
  &::after {
    transform: scale(-1, 1);
  }
  @include max768 {
    flex-direction: column;
    &::before {
      max-width: 100%;
    }
    &::after {
      content: none;
    }
  }
}

.bl_circleList {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  &_item {
    width: calc((100% - 180px) / 4);
    > a {
      display: block;
    }
  }
  &_step {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &_frame {
    background-color: $c_lylw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin: 0 auto 15px auto;
    @include flx_center;
    img {
      width: 50%;
      object-fit: cover;
    }
  }
  &_body {
    .bl_circleList_ttl {
      margin: 15px 0;
      text-align: center;
      font-size: clamp(10px, 1.25vw, 14px);
    }
    .bl_circleList_txt {
      font-size: 1.4rem;
      padding: 15px 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
  &_btn {
    display: block;
    margin-top: 30px;
    padding: 10px;
    border-radius: 50vh;
    background-color: $c_ylw;
    border: 2px solid $c_bk;
    text-align: center;
    color: $c_bk;
  }
  @include max768 {
    &_item {
      flex: initial;
      width: calc((100% - 60px) / 2);
      margin-bottom: 20px;
      margin-right: 0;
    }
    &.bl_circleList__SPcol1 {
      .bl_circleList_item {
        flex: initial;
        width: 80%;
        margin: 0 auto 20px;
        .bl_circleList_body {
          .bl_circleList_ttl {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

// scroll処理
.scroll_wrapper {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid $c_br;
  background-color: $c_wt;
  overflow-y: scroll;
  height: 400px;
}

// リスト装飾
.cmp_dodList_01 {
  li {
    list-style: disc;
    list-style-position: inside;
    padding-left: 1.5em;
    text-indent: -1.5em;
  }
}
.cmp_numList_01 {
  > li {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 1.5em;
    text-indent: -1.5em;
    font-weight: bold;
    margin-bottom: 25px;
    li {
      list-style: disc;
      list-style-position: inside;
      padding-left: 2.5em;
      font-weight: normal;
    }
    p {
      font-weight: normal;
      text-indent: 0;
      margin-top: 3px;
    }
  }
}

// 文章＋キャラクター
.bl_media_chr {
  padding: 20px 0;
  display: flex;
  @include max768 {
    flex-direction: column;
    row-gap: 30px;
  }
}
.bl_media_chr_explain {
  width: 55%;
  .el_btn {
    margin-top: 20px;
  }
}
.bl_media_chr_fig {
  display: flex;
  align-items: start;
  width: 45%;
  padding: 15px;
}
.el_bubble {
  width: 60%;
}
.bl_media_chr_character {
  width: 42%;
  position: relative;
  &::after{
    content:'©(般社)ステップアップ\A教育支援機構';
    display:inline-block;
    font-size: 10px;
    position: absolute;
    white-space: pre;
    bottom: -35px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
}
.bl_media_chr_chrName {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 15px;
}
@include max768 {
  .bl_media_chr_explain {
    width: 100%;
  }
  .bl_media_chr_fig {
    width: 100%;
  }
  .bl_media_chr_character {
    width: 30%;
  }
  .bl_media_chr_chrName {
    font-size: 1rem;
  }
}
