//============================【display】============================

// 表示非表示切り替え（例max○○○_b,max○○○_n）
@include show_display(970);
@include hide_display(970);
@include show_display(1090);
@include hide_display(1090);
@include show_display(768);
@include hide_display(768);
@include show_display(500);
@include hide_display(500);





//============================【layout】============================

// コンテンツ幅
.ly_headerInner {
  max-width: $headerInnterWidth;
  width: 100%;
  margin: 0 auto;
  padding: $headerInnterPadding 15px;
  @include max768() {
    padding: 15px;
    max-width: 700px;
  }
}
.ly_contInner {
  max-width: $contInnterWidth;
  width: 100%;
  margin: 0 auto;
  padding: $contInnterPadding 15px;
  @include max768() {
    padding: 20px;
    max-width: 400px;
  }
}

// 余白指定（縦）
.ly_pdg_bottom_sm{
  padding-bottom: 50px;
}
.ly_pdg_top_sm{
  padding-top: 50px;
}

.ly_pdg_upDown_sm {
  padding-top: 50px;
  padding-bottom: 50px;
  @include max768() {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.ly_pdg_upDown_md {
  padding-top: 150px;
  padding-bottom: 150px;
  @include max768() {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.ly_pdg_upDown_bg {
  padding-top: 250px;
  padding-bottom: 250px;
  @include max768() {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}






//============================【baseColor】============================
// 背景色
.bgc_lgr {
  background-color: $c_lgr;
}
.bgc_br {
  background-color: $c_br;
}
.bgc_gry {
  background-color: $c_gry;
}

//============================【column】============================
// 横並び（2個）
@include col2(15px);
// 横並び（3個）
@include col3(10%);

// flex
.flx {
  display: flex;
  @include media(768) {
    &._column {
      flex-direction: column;
    }
    &._reserve {
      flex-direction: column-reverse;
    }
  }
}
// column
.col {
  display: flex;
  &.col3 {
    &_item {
      width: 100%;
      max-width: calc((100% - (40px * 2)) / 3);
      @include media(768) {
        flex-direction: column;
        &_item {
          max-width: 375px;
          margin: 0 auto 30px;
        }
      }
    }
  }
  &.col2 {
    &_item {
      width: 100%;
      max-width: calc((400px - 5%) / 2);
    }
    @include media(768) {
      flex-direction: column;
      .box2_item {
        max-width: 375px;
        margin: 0 auto 30px;
      }
    }
  }
}

//============================【others】============================

// 文字配列
.tac {
  text-align: center;
  @include max768 {
    &._tal {
      text-align: left;
    }
  }
}

// 黄色マーカー
.line_yellow {
  background: linear-gradient(transparent 60%, #ffea5e 60%);
}

//aタグ初期値（デフォルトに戻す）
.link_init {
  color: #0000ee;
  text-decoration: underline;
  &:visited {
    color: #551a8b;
  }
  &:active {
    color: #ff0000;
  }
}
