.record {
  .bg_screen {
    background-color: $c_bk;
    max-width: 500px;
    width: 100%;
    aspect-ratio: 3/2;
    margin: 0 auto;
  }
}

.record_screen {
  .record_screen_btn_wrapper {
    margin-top: 30px;
    .record_btn_wrapper{
      margin-bottom: 30px;
      align-items: center;
    }
    .record_screen_btn {
      cursor: pointer;
    }
    .record_notice {
      text-align: left;
      padding-left: 1em;
      text-indent: -1em;
    }
    .selected_camera{
      margin-bottom: 20px;
      display: flex;
      > *{
        padding: 8px;
        font-size: 1.4rem;
      }
      dt{
        background-color: $c_br;
        border-radius: 3px 0 0 3px;
        color: $c_wt;
        width: 30%;
      }
      dd{
        flex:1;
        background-color: $c_wt;
        border: 1px solid $c_br;
      }
    }
  }
  .record_btn_wrapper{
    display: flex;
    gap: 30px;
    max-width: 500px;
    margin: 0 auto;
    .el_btn{
      width: calc((100% - 30px)/2);
      min-width: auto;
    }
  }
  .record_icon_wrapper {
    text-align: center;
    margin: 70px 0;
    align-items: center;
    position: relative;
    @include max768{
      margin-top: 70px;
    }
    &::after{
      content:'';
      display:inline-block;
      width: 210px;
      aspect-ratio: 2/1.2;
      background-image: url(../img/record/fig_record_chr.png);
      background-repeat: no-repeat;
      background-position:center;
      background-size: cover;
      position: absolute;
      margin: auto;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      transform: translateX(120px);
      @include max768{
        width: 130px;
        right: 100px;
        background-image: url(../img/record/fig_record_chr_sp.png);
        aspect-ratio: 1.9/2;
      }
    }
    .record_icon_txt {
      font-size: 1.3rem;
    }
  }
  .record_icon {
    display: inline-block;
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 50vh;
    transition: 0.2s;
    flex-direction: column;
    position: relative;
    &::before {
      content: "未測定";
      display: inline-block;
      font-size: 1.1rem;
      position: absolute;
      width: 40px;
      top: -23px;
      left: -10px;
    }
    &::after {
      content: "";
      width: 200px;
      display: inline-block;
      background-image: url(../../assets/img/record/fig_record_chr.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .record_stop_wrapper {
    margin-bottom: 40px;
    .record_stop_btn {
      padding-bottom: 6px;
      border-bottom: 2px solid #000;
    }
  }
}



// 測定開始ボタンをクリックしたとき
.clicked {
  .record_icon {
    background: $c_red;
    box-shadow: 0 0 10px $c_red, 0 0 40px $c_red, 0 0 80px $c_red;
    &::before {
      content: "録画中";
      color: $c_red;
    }
  }
}
.stopped {
  .record_icon {
    background: $c_dylw;
    box-shadow: 0 0 10px $c_dylw, 0 0 40px $c_dylw, 0 0 80px $c_dylw;
    &::before {
      content: "停止中";
      color: $c_dylw;
    }
  }
}

.record_result_body {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  @include max768 {
    width: 100%;
    padding: 20px;
  }
  .record_result_screen {
    width: 100%;
    margin: 0 auto;
    background-color: $c_bk;
    aspect-ratio: 2/1;
  }
  .record_result_ttl {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .record_result_date {
    text-align: center;
    margin-bottom: 30px;
  }
}

.record_score {
  border-radius: 5px;
  padding: 20px;
  background-color: $c_lylw;
  margin-bottom: 30px;
  dl {
    display: flex;
    font-size: 2.2rem;
    dt {
      width: 30%;
      margin-right: 30px;
    }
  }
  @include max768 {
    dl {
      font-size: 1.6rem;
      justify-content: space-between;
      dt {
        width: 40%;
      }
    }
  }
}

.record_closing {
  margin-top: 30px;
  .closing_btn_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .closing_btn{
    background-color: $c_red;
    color: $c_wt;
    padding: 5px 15px;
    border-radius: 3px;
    letter-spacing: normal;
  }
}
