body {
  background-image: url(../img/bg/bg_01_original.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// header
header {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  color: #000;
  background-color: $c_br;
  .header_flx {
    display: flex;
    gap: 15px;
    align-items: center;
    .header_logo {
      width: 15%;
      a {
        display: block;
        img {
          width: 100%;
        }
      }
      @include max970 {
        width: 159px;
      }
    }
    .header_logo_eco {
      border: 1px solid #000;
      width: 57px;
      background-color: $c_wt;
      border-radius: 5px;
      padding: 5px;
      @include max970 {
        width: 49px;
        padding: 3px 5px 0 5px;
      }
    }
    .hamburger_icon {
      margin-left: auto;
    }
    nav {
      width: 70%;
      margin-left: auto;
    }
    .header_nav {
      display: flex;
      align-items: center;
      column-gap: 10px;
      li {
        width: 100%;
        a {
          font-size: 1.6rem;
          background-color: lighten($c_br, 20%);
          display: inline-block;
          height: 50px;
          width: 100%;
          padding: 0 15px;
          text-align: center;
          border-radius: 10px;
          @include flx_center;
        }
        &:last-child {
          a {
            background: $c_ylw;
          }
        }
      }
    }
  }
  // Hamburger-icon
  .openMenu,
  .openMenu__icon {
    display: inline-block;
    transition: all 0.4s;
  }
  .openMenu {
    position: relative;
    width: 30px;
    height: 25px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .openMenu__icon {
      width: 100%;
      height: 3px;
      background-color: black;
      border-radius: 10px;
    }
  }
  // サイドメニュー（スマホ時）
  .sp-menu {
    position: fixed;
    top: 0;
    right: -200vw;
    // transform: translateX(100%);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 100vh;
    text-align: center;
    background-color: $c_wt;
    transition: all 0.3s;
    ul {
      width: 60%;
      li {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: $c_bk;
          letter-spacing: 0.1em;
        }
      }
    }
    .el_btn {
      min-width: auto;
      width: 100%;
    }
  }
  // 終了＿サイドメニュー（スマホ時）
}
// Hamburger-icon（open）
.is_menuOpen {
  .line01:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .line02:nth-of-type(2) {
    opacity: 0;
  }
  .line03:nth-of-type(3) {
    transform: translateY(-11px) rotate(45deg);
  }
  .sp-menu {
    transform: translateX(-200vw);
  }
}
// header_end


.label_box{
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 60;
  @include max768{
    top: 110px;
  }
  .label_item{
    background-color: #fff;
    width: 170px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 10px;
    transition: all 0.3s;
    @include max768{
      width: 100px;
    }
    &:hover{
      transform: translateX(5px);
    }
    &:last-child{
      margin-bottom: 0;
    }
    a{
      display: flex;
      font-size: 1.4rem;
      .label_ico{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        border-radius: 5px 0 0 5px;
        @include max768{
          width: 33%;
        }
        img{
          width: 50%;
        }
      }
      .label_ico__management{
        background-color: #FF0089;
      }
      .label_ico__teacher{
        background-color: #007FFB;
      }
      .label_ico__product{
        background-color: #1da40a;
      }
      .label_txt{
        padding: 10px ;
      }
    }
  }
}

// fv
.fv {
  position: relative;
  .sdgs_logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .fv_container {
    width: 85%;
    // max-width: 700px;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
  }
  .fv_contents {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  .fv_chr {
    display: flex;
    width: 35%;
    margin: 0 auto;
    img {
      width: 50%;
    }
  }
  .fv_ttl {
    font-family: $corp;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0.02em;
    text-align: center;
    span {
      font-size: 7rem;
      color: $c_ylw;
      -webkit-text-stroke: 1px #000;
      text-stroke: 1px #000;
    }
  }
  @include max768 {
    .sdgs_logo {
      width: 70px;
    }
  }
}

// fv_end

// howTo

.howTo {
  .bl_circleList {
    margin: 30px 0;
  }
}

// howTo_end

// ctaArea
.ctaArea {
  > .flx {
    align-items: center;
    justify-content: center;
    > .flx {
      align-items: flex-start;
    }
  }
  .ctaArea_chr {
    width: 30%;
    column-gap: 10px;
    .el_bubble {
      align-self: start;
    }
    img {
      width: 30%;
      align-self: flex-end;
    }
  }
  .ctaArea_btn {
    margin-left: 30px;
  }
  @include max768 {
    > .flx {
      flex-direction: column;
    }
    .ctaArea_chr {
      width: 100%;
      margin-bottom: 30px;
    }
    .ctaArea_btn {
      margin-left: 0;
    }
  }
}
// ctaArea_end

// aboutPoint
.aboutPoint {
  .aboutPoint_point_ttl {
    text-align: center;
    margin: 30px 0;
  }
  .aboutPoint_point {
    padding: 20px;
    border-radius: 50vh;
    background-color: $c_lylw;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    max-width: 350px;
    width: 100%;
    margin: 30px auto 0;
  }
  .chr_ninja {
    width: 100%;
  }
  .flx {
    column-gap: 15px;
  }
  .aboutPoint_expain{
    width: 50%;
    @include max768{
      width: 100%;
    }
  }
  @include max768 {
    .flx {
      flex-direction: column;
    }
  }
}
// aboutPoint_end

// intro

.intro {
  .intro_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0;
  }
  .intro_item {
    width: calc((100% - 30px) / 2);
    border: 2px solid $c_br;
    padding: 15px;
    border-radius: 10px;
    background-color: $c_wt;
    .intro_item_body {
      display: flex;
      align-items: center;
    }
    .intro_pic {
      width: 35%;
      text-align: center;
      position: relative;
      img {
        object-fit: cover;
        max-height: 170px;
      }
      &::after{
        content:'©(般社)ステップアップ\A教育支援機構';
        display:inline-block;
        font-size: 10px;
        position: absolute;
        white-space: pre;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .intro_desc {
      flex: 1;
    }
    .intro_desc_name {
      font-size: 2.4rem;
    }
    .intro_desc_belief {
      font-weight: bold;
      padding: 15px 0;
    }
    .intro_desc_txt {
      font-size: 1.4rem;
    }
    .intro_sdgsNum {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 2px dotted $c_br;
      .intro_sdgsNum_fig {
        width: 17%;
      }
      .intro_sdgsNum_ttl {
        display: inline-block;
        border-radius: 5px;
        padding: 5px;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        margin-bottom: 10px;
      }
    }
  }
  @include max768 {
    .intro_list {
      flex-direction: column;
    }
    .intro_item {
      width: 100%;
      .intro_sdgsNum {
        .intro_sdgsNum_fig {
          width: 23%;
        }
      }
      .intro_item_body {
        flex-direction: column;
      }
      .intro_pic {
        width: 50%;
      }
    }
  }
}

// intro_end

// terms

.terms_notice {
  margin: 20px 0;
  .terms_notice_ttl {
    font-weight: bold;
    font-style: 18px;
    margin-bottom: 10px;
    color: red;
  }
  .terms_notice_txt {
    margin-bottom: 10px;
  }
}

.terms_cont {
  margin-top: 30px;
  .terms_cont_ttl {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    & + p {
      margin-bottom: 30px;
    }
  }
  .terms_cont_article {
    font-size: 1.6rem;
    border-bottom: 1px dashed $c_br;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .terms_cont_txt {
    font-size: 1.4rem;
    padding: 10px 0;
  }
  section {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// terms_end

// contact

.contact {
  .contact_container {
    padding: 10px 0;
  }
  dl {
    display: flex;
    font-size: 1.4rem;
    font-weight: normal;
    dt {
      min-width: 100px;
    }
  }
}

// contact_end

// footer

footer {
  > div {
    display: flex;
    justify-content: space-between;
  }
  .footer_logo {
    width:200px;
    @include max768{
      width: 150px;
    }
  }
  .footer_menu {
    display: flex;
    gap: 30px;
    flex: 1;
    @include max768 {
      flex-direction: column;
    }
    ul {
      flex: 1;
    }
    li {
      margin-bottom: 10px;
    }
    a {
      display: block;
    }
  }
}

small{
  display: block;
  background-color: lighten($c_br, 15%);
  text-align: center;
  padding: 8px ;
  font-size: 12px;
}

// footer_end

.adjust_chrSize {
  &.w40 {
    width: 40% !important;
  }
}
