//============================【変数定義】============================

// contents
$contInnterWidth: 1050px;
$headerInnterWidth: 1400px;
$contInnterPadding: 70px;
$headerInnterPadding: 20px;

// colors
$c_gr: #07b53b;
$c_lgr: #edffd0;
$c_og: #ff9938;
$c_bk: #000;
$c_wt: #fff;
$c_gry: #F0F0F0;
$c_br: #C9BC9C;
$c_ylw: #FFF500;
$c_lylw: #FFF0C9;
$c_red: #FF3700;
$c_pur: #5600B3;
$c_bl: #002FBE;
$c_ora: #F19100;

// font-family
$corp:corporate-logo-ver2, sans-serif;

