@charset "UTF-8";
/* 可変する文字サイズ（calc + vwの公式） */
* {
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #000;
  line-height: 1.5;
  font-family: corporate-logo-ver2, sans-serif, sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}
a:hover,
button:hover {
  opacity: 0.5;
}

button,
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='reset'] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

textarea {
  resize: vertical;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

.el_btn_location {
  text-align: center;
}

.el_btn {
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  padding: 10px;
  background-color: #fff500;
  border: 3px solid #000;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 100vh;
  font-weight: 600;
}
.el_btn:hover,
.el_btn:focus {
  background-color: #fff;
  border-color: currentColor;
}

.el_btn__lor {
  background-color: #fff0c9;
}

.el_deco_bracket {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
.el_deco_bracket::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 16px;
  background: #000;
  transform: rotate(15deg);
  margin-left: 10px;
}
.el_deco_bracket::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 16px;
  background: #000;
  transform: rotate(-15deg);
  margin-right: 10px;
}

.el_btn__primary:hover,
.el_btn__primary:focus {
  background-color: #fff;
  border-color: currentColor;
  color: #000;
}

.el_btn__arrowRight {
  position: relative;
}
.el_btn__arrowRight::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  margin: auto;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
}

.bl_media {
  display: flex;
  align-items: center;
}
.bl_media_imgWrapper {
  flex: 0 1 10%;
  margin-right: calc(40px / $contInnterWidth);
}
.bl_media_imgWrapper > img {
  width: 100%;
}
.bl_media_body {
  flex: 1;
}
.bl_media_body > *:last-child {
  margin-bottom: 0;
}
.bl_media_ttl {
  margin-bottom: 10px;
  font-size: 10rem;
  font-weight: bold;
}
.bl_media.bl_media__rev {
  flex-direction: row-reverse;
}
.bl_media.bl_media__rev_imgWrapper {
  margin-right: 0;
  margin-left: calc(40px / $contInnterWidth);
}
@media screen and (max-width: 768px) {
  .bl_media {
    display: block;
  }
  .bl_media_imgWrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .bl_media.bl_media__rev_imgWrapper {
    margin-left: 0;
  }
}

.bl_card_imgWrapper {
  position: relative;
  padding-top: 50%;
  overflow: hidden;
}
.bl_card_imgWrapper > img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.bl_card_body {
  padding: 15px;
}
.bl_card_body > *:last-child {
  margin-bottom: 0;
}
.bl_card_ttl {
  margin-bottom: 10px;
  font-size: 10rem;
  font-weight: bold;
}

.bl_cross_table {
  border: 1px solid #000;
}
.bl_cross_table table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
.bl_cross_table table th,
.bl_cross_table table td {
  padding: 15px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  vertical-align: middle;
}
.bl_cross_table table th:last-child,
.bl_cross_table table td:last-child {
  border-bottom-width: 0;
}
.bl_cross_table table tbody tr:last-child th,
.bl_cross_table table tbody tr:last-child td {
  border-bottom-width: 0;
}
@media screen and (max-width: 768px) {
  .bl_cross_table {
    border-right-width: 0;
    overflow-x: auto;
  }
  .bl_cross_table table {
    width: auto;
    min-width: 100%;
  }
  .bl_cross_table table th,
  .bl_cross_table table td {
    white-space: nowrap;
  }
  .bl_cross_table table th:last-child,
  .bl_cross_table table td:last-child {
    border-bottom-width: 1px;
  }
}
.bl_cross_table .mdStucky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.el_bubble {
  background-color: #f0f0f0;
  padding: 20px 20px;
  border-radius: 50vh;
  text-align: center;
  font-size: 1.4rem;
  left: 0;
  font-weight: 600;
}
.el_bubble span {
  font-size: 1.8rem;
  color: #ff3700;
}

.el_arrow_right_list > * {
  position: relative;
}
.el_arrow_right_list > *::after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 40px;
  background-image: url(../img/ico/ico_arrow_br.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -23%;
}
@media screen and (max-width: 768px) {
  .el_arrow_right_list > *::after {
    top: auto;
    bottom: -30px;
    right: 0;
    left: 0;
    transform: rotate(90deg);
  }
}
.el_arrow_right_list > *:last-child::after {
  content: none;
}

.el_deco_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.el_deco_line::before {
  content: '';
  display: inline-block;
  width: 100%;
  max-width: 40%;
  height: 70px;
  background-image: url(../../assets/img/deco/deco_chr_line.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.el_deco_line::after {
  content: '';
  display: inline-block;
  width: 100%;
  max-width: 40%;
  height: 70px;
  background-image: url(../../assets/img/deco/deco_chr_line.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transform: scale(-1, 1);
}
@media screen and (max-width: 768px) {
  .el_deco_line {
    flex-direction: column;
  }
  .el_deco_line::before {
    max-width: 100%;
  }
  .el_deco_line::after {
    content: none;
  }
}

.bl_circleList {
  display: flex;
  justify-content: space-between;
}
.bl_circleList_item {
  width: calc((100% - 180px) / 4);
  -moz-column-gap: 60px;
  column-gap: 60px;
}
.bl_circleList_step {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.bl_circleList_frame {
  background-color: #fff0c9;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin: 0 auto 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl_circleList_frame img {
  width: auto;
  max-height: 108px;
}
.bl_circleList_body .bl_circleList_ttl {
  margin: 15px 0;
  text-align: center;
  font-size: clamp(10px, 1.25vw, 14px);
}
.bl_circleList_body .bl_circleList_txt {
  font-size: 1.4rem;
  padding: 15px 0;
}
.bl_circleList_body > *:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .bl_circleList {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .bl_circleList_item {
    flex: initial;
    width: 48%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .bl_circleList.bl_circleList__SPcol1 .bl_circleList_item {
    flex: initial;
    width: 55%;
    margin: 0 auto 20px;
  }
  .bl_circleList.bl_circleList__SPcol1
    .bl_circleList_item
    .bl_circleList_body
    .bl_circleList_ttl {
    font-size: 1.6rem;
  }
}

.bl_media_chr {
  padding: 20px 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  .bl_media_chr {
    flex-direction: column;
    row-gap: 30px;
  }
}

.bl_media_chr_explain {
  width: 55%;
}
.bl_media_chr_explain .el_btn {
  margin-top: 20px;
}

.bl_media_chr_fig {
  display: flex;
  align-items: start;
  width: 45%;
  padding: 15px;
}

.el_bubble {
  width: 60%;
}

.bl_media_chr_character {
  width: 40%;
}

.bl_media_chr_chrName {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .bl_media_chr_explain {
    width: 100%;
  }

  .bl_media_chr_fig {
    width: 100%;
  }

  .bl_media_chr_character {
    width: 30%;
  }

  .bl_media_chr_chrName {
    font-size: 1rem;
  }
}
.max768_b {
  display: none;
}
@media screen and (max-width: 768px) {
  .max768_b {
    display: block;
  }
}

.max500_b {
  display: none;
}
@media screen and (max-width: 500px) {
  .max500_b {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .max768_n {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .max500_n {
    display: none;
  }
}

.txt1 {
  color: #000;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  background-color: #fff0c9;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .txt1._tal {
    text-align: left;
  }
  .txt1._tar {
    text-align: right;
  }
  .txt1._tac {
    text-align: center;
  }
}

.txt2 {
  color: #000;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
  padding: 10px 0;
  border-bottom: 2px solid #c9bc9c;
}
@media screen and (max-width: 768px) {
  .txt2._tal {
    text-align: left;
  }
  .txt2._tar {
    text-align: right;
  }
  .txt2._tac {
    text-align: center;
  }
}

.txt3 {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  padding: 15px 0;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .txt3._tal {
    text-align: left;
  }
  .txt3._tar {
    text-align: right;
  }
  .txt3._tac {
    text-align: center;
  }
}

.txt4 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .txt4._tal {
    text-align: left;
  }
  .txt4._tar {
    text-align: right;
  }
  .txt4._tac {
    text-align: center;
  }
}

.ly_headerInner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
}
@media screen and (max-width: 768px) {
  .ly_headerInner {
    padding: 15px;
    max-width: 700px;
  }
}

.ly_contInner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px;
}
@media screen and (max-width: 768px) {
  .ly_contInner {
    padding: 24px;
    max-width: 400px;
  }
}

.bgc_lgr {
  background-color: #edffd0;
}

.bgc_br {
  background-color: #c9bc9c;
}

.bgc_gry {
  background-color: #f0f0f0;
}

.col2 {
  display: flex;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.col2_item {
  width: 100%;
  max-width: calc((100% - 15px) / 2);
}
@media screen and (max-width: 768px) {
  .col2 {
    flex-direction: column;
  }
  .col2 .col2_item {
    max-width: 375px;
    margin: 0 auto 30px;
  }
}

.col3 {
  display: flex;
}
.col3_item {
  width: 100%;
  max-width: calc((100% - (10% * 2)) / 3);
}
@media screen and (max-width: 768px) {
  .col3 {
    flex-direction: column;
  }
  .col3 .col2_item {
    max-width: 375px;
    margin: 0 auto 30px;
  }
}

.flx {
  display: flex;
}
@media screen and (max-width: 768px) {
  .flx._column {
    flex-direction: column;
  }
  .flx._reserve {
    flex-direction: column-reverse;
  }
}

.col {
  display: flex;
}
.col.col3_item {
  width: 100%;
  max-width: calc((100% - (40px * 2)) / 3);
}
@media screen and (max-width: 768px) {
  .col.col3_item {
    flex-direction: column;
  }
  .col.col3_item_item {
    max-width: 375px;
    margin: 0 auto 30px;
  }
}
.col.col2_item {
  width: 100%;
  max-width: calc((400px - 5%) / 2);
}
@media screen and (max-width: 768px) {
  .col.col2 {
    flex-direction: column;
  }
  .col.col2 .box2_item {
    max-width: 375px;
    margin: 0 auto 30px;
  }
}

.tac {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .tac._tal {
    text-align: left;
  }
}

.line_yellow {
  background: linear-gradient(transparent 60%, #ffea5e 60%);
}

.link_init {
  color: #0000ee;
  text-decoration: underline;
}
.link_init:visited {
  color: #551a8b;
}
.link_init:active {
  color: #ff0000;
}

body {
  background-image: url(../img/bg/bg_01_org.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  color: #000;
  background-color: #c9bc9c;
}
header .header_flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_flx .header_logo {
  width: 20%;
}
header .header_flx nav {
  width: 70%;
}
header .header_flx .header_nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
header .header_flx .header_nav li {
  width: 100%;
}
header .header_flx .header_nav li a {
  font-size: 1.6rem;
  background-color: #ede9de;
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .openMenu,
header .openMenu__icon {
  display: inline-block;
  transition: all 0.4s;
}
header .openMenu {
  position: relative;
  width: 30px;
  height: 25px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .openMenu .openMenu__icon {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
}
header .sp-menu {
  position: fixed;
  top: 0;
  right: -200vw;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 100vh;
  text-align: center;
  background-color: #fff;
  transition: all 0.3s;
}
header .sp-menu ul li {
  margin-bottom: 40px;
}
header .sp-menu ul li:last-child {
  margin-bottom: 0;
}
header .sp-menu ul li a {
  color: #000;
  letter-spacing: 0.1em;
}

.is_menuOpen .line01:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
.is_menuOpen .line02:nth-of-type(2) {
  opacity: 0;
}
.is_menuOpen .line03:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
}
.is_menuOpen .sp-menu {
  transform: translateX(-200vw);
}

.fv {
  position: relative;
}
.fv .sdgs_logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
.fv .fv_container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
}
.fv .fv_contents {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.fv .fv_ttl {
  font-family: corporate-logo-ver2, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.02em;
  text-align: center;
}
.fv .fv_ttl span {
  font-size: 7rem;
  color: #fff500;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}
@media screen and (max-width: 768px) {
  .fv .fv_container {
    width: 80%;
  }
  .fv .fv_container .el_btn {
    margin-top: 30px;
    min-width: auto;
  }
  .fv .sdgs_logo {
    width: 70px;
  }
}

.howTo .bl_circleList {
  margin: 30px 0;
}

.ctaArea > .flx {
  align-items: center;
  justify-content: center;
}
.ctaArea > .flx > .flx {
  align-items: flex-start;
}
.ctaArea .ctaArea_chr {
  width: 30%;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.ctaArea .ctaArea_chr .el_bubble {
  align-self: start;
}
.ctaArea .ctaArea_chr img {
  width: 30%;
  align-self: flex-end;
}
.ctaArea .ctaArea_btn {
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .ctaArea > .flx {
    flex-direction: column;
  }
  .ctaArea .ctaArea_chr {
    width: 100%;
    margin-bottom: 30px;
  }
  .ctaArea .ctaArea_btn {
    margin-left: 0;
  }
}

.aboutPoint .aboutPoint_point_ttl {
  text-align: center;
  margin: 30px 0;
}
.aboutPoint .aboutPoint_point {
  padding: 20px;
  border-radius: 50vh;
  background-color: #fff0c9;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  max-width: 350px;
  width: 100%;
  margin: 30px auto 0;
}
.aboutPoint .chr_ninja {
  width: 100%;
}
.aboutPoint .flx {
  -moz-column-gap: 15px;
  column-gap: 15px;
}
@media screen and (max-width: 768px) {
  .aboutPoint .flx {
    flex-direction: column;
  }
}

.recordBox {
  background-color: #fff0c9;
  padding: 40px;
  border-radius: 15px;
}
.recordBox h2 {
  margin-bottom: 40px;
}
.recordBox .recordBox_list {
  padding: 30px 0;
}
.recordBox .recordBox_list .recordBox_item {
  font-size: 2rem;
  padding: 20px 0;
  border-top: 2px solid #c9bc9c;
}
.recordBox .recordBox_list .recordBox_item:last-child {
  border-bottom: 2px solid #c9bc9c;
}
.recordBox .recordBox_list .recordBox_item .recordBox_item_time {
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .recordBox {
    padding: 20px;
  }
}

.intro .intro_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0;
}
.intro .intro_item {
  width: calc((100% - 30px) / 2);
  display: flex;
  -moz-column-gap: 50px;
  column-gap: 50px;
  align-items: center;
}
.intro .intro_item .intro_pic {
  width: 35%;
  text-align: center;
}
.intro .intro_item .intro_pic img {
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 170px;
}
.intro .intro_item .intro_desc {
  flex: 1;
}
.intro .intro_item .intro_desc_name {
  font-size: 2.4rem;
}
.intro .intro_item .intro_desc_belief {
  font-weight: bold;
  padding: 15px 0;
}
.intro .intro_item .intro_desc_txt {
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .intro .intro_list {
    flex-direction: column;
  }
  .intro .intro_item {
    width: 100%;
  }
}

.terms_cont {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #c9bc9c;
  background-color: #fff;
}
.terms_cont .terms_cont_ttl {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.terms_cont .terms_cont_article {
  font-size: 1.6rem;
  border-bottom: 1px dashed #c9bc9c;
  padding: 10px 0;
}
.terms_cont .terms_cont_txt {
  font-size: 1.4rem;
  padding: 10px 0;
}

.contact .contact_container {
  padding: 10px 0;
}
.contact dl {
  display: flex;
  font-size: 1.4rem;
  font-weight: normal;
}
.contact dl dt {
  min-width: 100px;
}

footer {
  padding: 20px 0;
}
footer .footer_logo {
  width: 100px;
}

.adjust_chrSize.w40 {
  width: 40% !important;
}
