@charset "UTF-8";
* {
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #000;
  line-height: 1.5;
  font-family: corporate-logo-ver2, sans-serif, sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}
a:hover,
button:hover {
  opacity: 0.5;
}

button,
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=reset] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

textarea {
  resize: vertical;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

.el_btn_location {
  text-align: center;
}

.el_btn {
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  padding: 10px;
  background-color: #FFF500;
  border: 3px solid #000;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 100vh;
  font-weight: 600;
}

.el_btn__lor {
  background-color: #FFF0C9;
}

.el_btn__sm {
  min-width: 200px;
  font-size: 1.4rem;
  border: 2px solid #000;
}

.el_deco_bracket {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
.el_deco_bracket::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 16px;
  background: #000;
  transform: rotate(15deg);
  margin-left: 10px;
}
.el_deco_bracket::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 16px;
  background: #000;
  transform: rotate(-15deg);
  margin-right: 10px;
}

.el_btn__primary:hover, .el_btn__primary:focus {
  background-color: #fff;
  border-color: currentColor;
  color: #000;
}

.el_btn__arrowRight {
  position: relative;
}
.el_btn__arrowRight::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  margin: auto;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
}

.cmp_heading_01 {
  color: #000;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  background-color: #FFF0C9;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .cmp_heading_01._tal {
    text-align: left;
  }
  .cmp_heading_01._tar {
    text-align: right;
  }
  .cmp_heading_01._tac {
    text-align: center;
  }
}

.cmp_heading_02 {
  color: #000;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
  padding: 10px 0;
  border-bottom: 2px solid #C9BC9C;
}
@media screen and (max-width: 768px) {
  .cmp_heading_02._tal {
    text-align: left;
  }
  .cmp_heading_02._tar {
    text-align: right;
  }
  .cmp_heading_02._tac {
    text-align: center;
  }
}

.cmp_heading_03 {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  padding: 15px 0;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .cmp_heading_03._tal {
    text-align: left;
  }
  .cmp_heading_03._tar {
    text-align: right;
  }
  .cmp_heading_03._tac {
    text-align: center;
  }
}

.cmp_heading_04 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .cmp_heading_04._tal {
    text-align: left;
  }
  .cmp_heading_04._tar {
    text-align: right;
  }
  .cmp_heading_04._tac {
    text-align: center;
  }
}

.cmp_heading_05 {
  color: #000;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .cmp_heading_05._tal {
    text-align: left;
  }
  .cmp_heading_05._tar {
    text-align: right;
  }
  .cmp_heading_05._tac {
    text-align: center;
  }
}

.bl_media {
  display: flex;
  align-items: center;
}
.bl_media_imgWrapper {
  flex: 0 1 10%;
  margin-right: 0.0380952381;
}
.bl_media_imgWrapper > img {
  width: 100%;
}
.bl_media_body {
  flex: 1;
}
.bl_media_body > *:last-child {
  margin-bottom: 0;
}
.bl_media_ttl {
  margin-bottom: 10px;
  font-size: 10rem;
  font-weight: bold;
}
.bl_media.bl_media__rev {
  flex-direction: row-reverse;
}
.bl_media.bl_media__rev_imgWrapper {
  margin-right: 0;
  margin-left: 0.0380952381;
}
@media screen and (max-width: 768px) {
  .bl_media {
    display: block;
  }
  .bl_media_imgWrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .bl_media.bl_media__rev_imgWrapper {
    margin-left: 0;
  }
}

.bl_card_imgWrapper {
  position: relative;
  padding-top: 50%;
  overflow: hidden;
}
.bl_card_imgWrapper > img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.bl_card_body {
  padding: 15px;
}
.bl_card_body > *:last-child {
  margin-bottom: 0;
}
.bl_card_ttl {
  margin-bottom: 10px;
  font-size: 10rem;
  font-weight: bold;
}

.bl_cross_table {
  border: 1px solid #000;
}
.bl_cross_table table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
.bl_cross_table table th,
.bl_cross_table table td {
  padding: 15px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  vertical-align: middle;
}
.bl_cross_table table th:last-child,
.bl_cross_table table td:last-child {
  border-bottom-width: 0;
}
.bl_cross_table table tbody tr:last-child th,
.bl_cross_table table tbody tr:last-child td {
  border-bottom-width: 0;
}
@media screen and (max-width: 768px) {
  .bl_cross_table {
    border-right-width: 0;
    overflow-x: auto;
  }
  .bl_cross_table table {
    width: auto;
    min-width: 100%;
  }
  .bl_cross_table table th,
.bl_cross_table table td {
    white-space: nowrap;
  }
  .bl_cross_table table th:last-child,
.bl_cross_table table td:last-child {
    border-bottom-width: 1px;
  }
}
.bl_cross_table .mdStucky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.el_bubble {
  background-color: #F0F0F0;
  padding: 20px 20px;
  border-radius: 50vh;
  text-align: center;
  font-size: 1.4rem;
  left: 0;
  font-weight: 600;
}
.el_bubble span {
  font-size: 1.8rem;
  color: #FF3700;
}

.el_arrow_right_list > * {
  position: relative;
}
.el_arrow_right_list > *::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 40px;
  background-image: url(../img/ico/ico_arrow_br.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -23%;
}
@media screen and (max-width: 768px) {
  .el_arrow_right_list > *::after {
    top: auto;
    bottom: -30px;
    right: 0;
    left: 0;
    transform: rotate(90deg);
  }
}
.el_arrow_right_list > *:last-child::after {
  content: none;
}

.el_deco_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.el_deco_line::before, .el_deco_line::after {
  content: "";
  display: inline-block;
  width: 100%;
  max-width: 40%;
  height: 100px;
  background-image: url(../../assets/img/deco/deco_chr_line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.el_deco_line::after {
  transform: scale(-1, 1);
}
@media screen and (max-width: 768px) {
  .el_deco_line {
    flex-direction: column;
  }
  .el_deco_line::before {
    max-width: 100%;
  }
  .el_deco_line::after {
    content: none;
  }
}

.bl_circleList {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.bl_circleList_item {
  width: calc((100% - 180px) / 4);
}
.bl_circleList_item > a {
  display: block;
}
.bl_circleList_step {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.bl_circleList_frame {
  background-color: #FFF0C9;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin: 0 auto 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl_circleList_frame img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bl_circleList_body .bl_circleList_ttl {
  margin: 15px 0;
  text-align: center;
  font-size: clamp(10px, 1.25vw, 14px);
}
.bl_circleList_body .bl_circleList_txt {
  font-size: 1.4rem;
  padding: 15px 0;
}
.bl_circleList_body > *:last-child {
  margin-bottom: 0;
}
.bl_circleList_btn {
  display: block;
  margin-top: 30px;
  padding: 10px;
  border-radius: 50vh;
  background-color: #FFF500;
  border: 2px solid #000;
  text-align: center;
  color: #000;
}
@media screen and (max-width: 768px) {
  .bl_circleList_item {
    flex: initial;
    width: calc((100% - 60px) / 2);
    margin-bottom: 20px;
    margin-right: 0;
  }
  .bl_circleList.bl_circleList__SPcol1 .bl_circleList_item {
    flex: initial;
    width: 80%;
    margin: 0 auto 20px;
  }
  .bl_circleList.bl_circleList__SPcol1 .bl_circleList_item .bl_circleList_body .bl_circleList_ttl {
    font-size: 1.6rem;
  }
}

.scroll_wrapper {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #C9BC9C;
  background-color: #fff;
  overflow-y: scroll;
  height: 400px;
}

.cmp_dodList_01 li {
  list-style: disc;
  list-style-position: inside;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.cmp_numList_01 > li {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 1.5em;
  text-indent: -1.5em;
  font-weight: bold;
  margin-bottom: 25px;
}
.cmp_numList_01 > li li {
  list-style: disc;
  list-style-position: inside;
  padding-left: 2.5em;
  font-weight: normal;
}
.cmp_numList_01 > li p {
  font-weight: normal;
  text-indent: 0;
  margin-top: 3px;
}

.bl_media_chr {
  padding: 20px 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  .bl_media_chr {
    flex-direction: column;
    row-gap: 30px;
  }
}

.bl_media_chr_explain {
  width: 55%;
}
.bl_media_chr_explain .el_btn {
  margin-top: 20px;
}

.bl_media_chr_fig {
  display: flex;
  align-items: start;
  width: 45%;
  padding: 15px;
}

.el_bubble {
  width: 60%;
}

.bl_media_chr_character {
  width: 40%;
}

.bl_media_chr_chrName {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .bl_media_chr_explain {
    width: 100%;
  }

  .bl_media_chr_fig {
    width: 100%;
  }

  .bl_media_chr_character {
    width: 30%;
  }

  .bl_media_chr_chrName {
    font-size: 1rem;
  }
}
.max970_b {
  display: none;
}
@media screen and (max-width: 970px) {
  .max970_b {
    display: block;
  }
}

@media screen and (max-width: 970px) {
  .max970_n {
    display: none;
  }
}

.max1090_b {
  display: none;
}
@media screen and (max-width: 1090px) {
  .max1090_b {
    display: block;
  }
}

@media screen and (max-width: 1090px) {
  .max1090_n {
    display: none;
  }
}

.max768_b {
  display: none;
}
@media screen and (max-width: 768px) {
  .max768_b {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .max768_n {
    display: none;
  }
}

.max500_b {
  display: none;
}
@media screen and (max-width: 500px) {
  .max500_b {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .max500_n {
    display: none;
  }
}

.ly_headerInner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
}
@media screen and (max-width: 768px) {
  .ly_headerInner {
    padding: 15px;
    max-width: 700px;
  }
}

.ly_contInner {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 15px;
}
@media screen and (max-width: 768px) {
  .ly_contInner {
    padding: 10px;
    max-width: 400px;
  }
}

.ly_size_sm {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .ly_size_sm {
    max-width: 400px;
  }
}

.ly_size_md {
  max-width: 1000px;
}
@media screen and (max-width: 500px) {
  .ly_size_md {
    max-width: 400px;
  }
}

.ly_pdg_bottom_sm {
  padding-bottom: 50px;
}

.ly_pdg_top_sm {
  padding-top: 50px;
}

.ly_pdg_upDown_sm {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .ly_pdg_upDown_sm {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.ly_pdg_upDown_md {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .ly_pdg_upDown_md {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.ly_pdg_upDown_bg {
  padding-top: 250px;
  padding-bottom: 250px;
}
@media screen and (max-width: 768px) {
  .ly_pdg_upDown_bg {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

.bgc_lgr {
  background-color: #edffd0;
}

.bgc_br {
  background-color: #C9BC9C;
}

.bgc_gry {
  background-color: #F0F0F0;
}

.col2 {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.col2_item {
  width: 100%;
  max-width: calc((100% - 15px) / 2);
}
@media screen and (max-width: 768px) {
  .col2 {
    flex-direction: column;
  }
  .col2 .col2_item {
    max-width: 375px;
    margin: 0 auto 30px;
  }
}

.col3 {
  display: flex;
}
.col3_item {
  width: 100%;
  max-width: calc((100% - (10% * 2)) / 3);
}
@media screen and (max-width: 768px) {
  .col3 {
    flex-direction: column;
  }
  .col3 .col2_item {
    max-width: 375px;
    margin: 0 auto 30px;
  }
}

.flx {
  display: flex;
}
@media screen and (max-width: 768px) {
  .flx._column {
    flex-direction: column;
  }
  .flx._reserve {
    flex-direction: column-reverse;
  }
}

.col {
  display: flex;
}
.col.col3_item {
  width: 100%;
  max-width: calc((100% - 80px) / 3);
}
@media screen and (max-width: 768px) {
  .col.col3_item {
    flex-direction: column;
  }
  .col.col3_item_item {
    max-width: 375px;
    margin: 0 auto 30px;
  }
}
.col.col2_item {
  width: 100%;
  max-width: calc((400px - 5%) / 2);
}
@media screen and (max-width: 768px) {
  .col.col2 {
    flex-direction: column;
  }
  .col.col2 .box2_item {
    max-width: 375px;
    margin: 0 auto 30px;
  }
}

.tac {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .tac._tal {
    text-align: left;
  }
}

.line_yellow {
  background: linear-gradient(transparent 60%, #ffea5e 60%);
}

.link_init {
  color: #0000ee;
  text-decoration: underline;
}
.link_init:visited {
  color: #551a8b;
}
.link_init:active {
  color: #ff0000;
}

body {
  background-image: url(../img/bg/bg_01_original.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  color: #000;
  background-color: #C9BC9C;
}
header .header_flx {
  display: flex;
  gap: 15px;
  align-items: center;
}
header .header_flx .header_logo {
  width: 15%;
}
header .header_flx .header_logo a {
  display: block;
}
header .header_flx .header_logo a img {
  width: 100%;
}
@media screen and (max-width: 970px) {
  header .header_flx .header_logo {
    width: 159px;
  }
}
header .header_flx .header_logo_eco {
  border: 1px solid #000;
  width: 57px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 970px) {
  header .header_flx .header_logo_eco {
    width: 49px;
    padding: 3px 5px 0 5px;
  }
}
header .header_flx .hamburger_icon {
  margin-left: auto;
}
header .header_flx nav {
  width: 70%;
  margin-left: auto;
}
header .header_flx .header_nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header .header_flx .header_nav li {
  width: 100%;
}
header .header_flx .header_nav li a {
  font-size: 1.6rem;
  background-color: #ede9de;
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_flx .header_nav li:last-child a {
  background: #FFF500;
}
header .openMenu,
header .openMenu__icon {
  display: inline-block;
  transition: all 0.4s;
}
header .openMenu {
  position: relative;
  width: 30px;
  height: 25px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .openMenu .openMenu__icon {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
}
header .sp-menu {
  position: fixed;
  top: 0;
  right: -200vw;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 100vh;
  text-align: center;
  background-color: #fff;
  transition: all 0.3s;
}
header .sp-menu ul {
  width: 60%;
}
header .sp-menu ul li {
  margin-bottom: 40px;
}
header .sp-menu ul li:last-child {
  margin-bottom: 0;
}
header .sp-menu ul li a {
  color: #000;
  letter-spacing: 0.1em;
}
header .sp-menu .el_btn {
  min-width: auto;
  width: 100%;
}

.is_menuOpen .line01:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
.is_menuOpen .line02:nth-of-type(2) {
  opacity: 0;
}
.is_menuOpen .line03:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
}
.is_menuOpen .sp-menu {
  transform: translateX(-200vw);
}

.fv {
  position: relative;
}
.fv .sdgs_logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
.fv .fv_container {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
}
.fv .fv_contents {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.fv .fv_chr {
  display: flex;
  width: 35%;
  margin: 0 auto;
}
.fv .fv_chr img {
  width: 50%;
}
.fv .fv_ttl {
  font-family: corporate-logo-ver2, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.02em;
  text-align: center;
}
.fv .fv_ttl span {
  font-size: 7rem;
  color: #FFF500;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
}
@media screen and (max-width: 768px) {
  .fv .sdgs_logo {
    width: 70px;
  }
}

.howTo .bl_circleList {
  margin: 30px 0;
}

.ctaArea > .flx {
  align-items: center;
  justify-content: center;
}
.ctaArea > .flx > .flx {
  align-items: flex-start;
}
.ctaArea .ctaArea_chr {
  width: 30%;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.ctaArea .ctaArea_chr .el_bubble {
  align-self: start;
}
.ctaArea .ctaArea_chr img {
  width: 30%;
  align-self: flex-end;
}
.ctaArea .ctaArea_btn {
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .ctaArea > .flx {
    flex-direction: column;
  }
  .ctaArea .ctaArea_chr {
    width: 100%;
    margin-bottom: 30px;
  }
  .ctaArea .ctaArea_btn {
    margin-left: 0;
  }
}

.aboutPoint .aboutPoint_point_ttl {
  text-align: center;
  margin: 30px 0;
}
.aboutPoint .aboutPoint_point {
  padding: 20px;
  border-radius: 50vh;
  background-color: #FFF0C9;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  max-width: 350px;
  width: 100%;
  margin: 30px auto 0;
}
.aboutPoint .chr_ninja {
  width: 100%;
}
.aboutPoint .flx {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.aboutPoint .aboutPoint_expain {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .aboutPoint .aboutPoint_expain {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .aboutPoint .flx {
    flex-direction: column;
  }
}

.intro .intro_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0;
}
.intro .intro_item {
  width: calc((100% - 30px) / 2);
  border: 2px solid #C9BC9C;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}
.intro .intro_item .intro_item_body {
  display: flex;
  align-items: center;
}
.intro .intro_item .intro_pic {
  width: 35%;
  text-align: center;
}
.intro .intro_item .intro_pic img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 170px;
}
.intro .intro_item .intro_desc {
  flex: 1;
}
.intro .intro_item .intro_desc_name {
  font-size: 2.4rem;
}
.intro .intro_item .intro_desc_belief {
  font-weight: bold;
  padding: 15px 0;
}
.intro .intro_item .intro_desc_txt {
  font-size: 1.4rem;
}
.intro .intro_item .intro_sdgsNum {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px dotted #C9BC9C;
}
.intro .intro_item .intro_sdgsNum .intro_sdgsNum_fig {
  width: 17%;
}
.intro .intro_item .intro_sdgsNum .intro_sdgsNum_ttl {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .intro .intro_list {
    flex-direction: column;
  }
  .intro .intro_item {
    width: 100%;
  }
  .intro .intro_item .intro_sdgsNum .intro_sdgsNum_fig {
    width: 23%;
  }
  .intro .intro_item .intro_item_body {
    flex-direction: column;
  }
  .intro .intro_item .intro_pic {
    width: 50%;
  }
}

.terms_notice {
  margin: 20px 0;
}
.terms_notice .terms_notice_ttl {
  font-weight: bold;
  font-style: 18px;
  margin-bottom: 10px;
  color: red;
}
.terms_notice .terms_notice_txt {
  margin-bottom: 10px;
}

.terms_cont {
  margin-top: 30px;
}
.terms_cont .terms_cont_ttl {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.terms_cont .terms_cont_ttl + p {
  margin-bottom: 30px;
}
.terms_cont .terms_cont_article {
  font-size: 1.6rem;
  border-bottom: 1px dashed #C9BC9C;
  padding: 10px 0;
  margin-bottom: 20px;
}
.terms_cont .terms_cont_txt {
  font-size: 1.4rem;
  padding: 10px 0;
}
.terms_cont section {
  margin-bottom: 30px;
}
.terms_cont section:last-child {
  margin-bottom: 0;
}

.contact .contact_container {
  padding: 10px 0;
}
.contact dl {
  display: flex;
  font-size: 1.4rem;
  font-weight: normal;
}
.contact dl dt {
  min-width: 100px;
}

footer > div {
  display: flex;
  justify-content: space-between;
}
footer .footer_logo {
  width: 200px;
}
@media screen and (max-width: 768px) {
  footer .footer_logo {
    width: 150px;
  }
}
footer .footer_menu {
  display: flex;
  gap: 30px;
  flex: 1;
}
@media screen and (max-width: 768px) {
  footer .footer_menu {
    flex-direction: column;
  }
}
footer .footer_menu ul {
  flex: 1;
}
footer .footer_menu li {
  margin-bottom: 10px;
}
footer .footer_menu a {
  display: block;
}

.adjust_chrSize.w40 {
  width: 40% !important;
}

.prize .bl_circleList_txt dl {
  display: flex;
}
.prize .bl_circleList_frame {
  background-color: #fff;
  border: 4px solid #FFF0C9;
}

.record .bg_screen {
  background-color: #000;
  max-width: 500px;
  width: 100%;
  aspect-ratio: 3/2;
  margin: 0 auto;
}

.record_screen .record_screen_btn_wrapper {
  margin-top: 30px;
}
.record_screen .record_screen_btn_wrapper .record_btn_wrapper {
  margin-bottom: 30px;
  align-items: center;
}
.record_screen .record_screen_btn_wrapper .record_screen_btn {
  cursor: pointer;
}
.record_screen .record_screen_btn_wrapper .record_notice {
  text-align: left;
  padding-left: 1em;
  text-indent: -1em;
}
.record_screen .record_screen_btn_wrapper .selected_camera {
  margin-bottom: 20px;
  display: flex;
}
.record_screen .record_screen_btn_wrapper .selected_camera > * {
  padding: 8px;
  font-size: 1.4rem;
}
.record_screen .record_screen_btn_wrapper .selected_camera dt {
  background-color: #C9BC9C;
  border-radius: 3px 0 0 3px;
  color: #fff;
  width: 30%;
}
.record_screen .record_screen_btn_wrapper .selected_camera dd {
  flex: 1;
  background-color: #fff;
  border: 1px solid #C9BC9C;
}
.record_screen .record_btn_wrapper {
  display: flex;
  gap: 30px;
  max-width: 500px;
  margin: 0 auto;
}
.record_screen .record_btn_wrapper .el_btn {
  width: calc((100% - 30px) / 2);
  min-width: auto;
}
.record_screen .record_icon_wrapper {
  text-align: center;
  margin: 70px 0;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .record_screen .record_icon_wrapper {
    margin-top: 70px;
  }
}
.record_screen .record_icon_wrapper::after {
  content: "";
  display: inline-block;
  width: 210px;
  aspect-ratio: 2/1.2;
  background-image: url(../img/record/fig_record_chr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  transform: translateX(120px);
}
@media screen and (max-width: 768px) {
  .record_screen .record_icon_wrapper::after {
    width: 130px;
    right: 100px;
    background-image: url(../img/record/fig_record_chr_sp.png);
    aspect-ratio: 1.9/2;
  }
}
.record_screen .record_icon_wrapper .record_icon_txt {
  font-size: 1.3rem;
}
.record_screen .record_icon {
  display: inline-block;
  background-color: gray;
  width: 20px;
  height: 20px;
  border-radius: 50vh;
  transition: 0.2s;
  flex-direction: column;
  position: relative;
}
.record_screen .record_icon::before {
  content: "未測定";
  display: inline-block;
  font-size: 1.1rem;
  position: absolute;
  width: 40px;
  top: -23px;
  left: -10px;
}
.record_screen .record_icon::after {
  content: "";
  width: 200px;
  display: inline-block;
  background-image: url(../../assets/img/record/fig_record_chr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.record_screen .record_stop_wrapper {
  margin-bottom: 40px;
}
.record_screen .record_stop_wrapper .record_stop_btn {
  padding-bottom: 6px;
  border-bottom: 2px solid #000;
}

.clicked .record_icon {
  background: #FF3700;
  box-shadow: 0 0 10px #FF3700, 0 0 40px #FF3700, 0 0 80px #FF3700;
}
.clicked .record_icon::before {
  content: "録画中";
  color: #FF3700;
}

.stopped .record_icon {
  background: #dcc322;
  box-shadow: 0 0 10px #dcc322, 0 0 40px #dcc322, 0 0 80px #dcc322;
}
.stopped .record_icon::before {
  content: "停止中";
  color: #dcc322;
}

.record_result_body {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .record_result_body {
    width: 100%;
    padding: 20px;
  }
}
.record_result_body .record_result_screen {
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  aspect-ratio: 2/1;
}
.record_result_body .record_result_ttl {
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 20px;
}
.record_result_body .record_result_date {
  text-align: center;
  margin-bottom: 30px;
}

.record_score {
  border-radius: 5px;
  padding: 20px;
  background-color: #FFF0C9;
  margin-bottom: 30px;
}
.record_score dl {
  display: flex;
  font-size: 2.2rem;
}
.record_score dl dt {
  width: 30%;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .record_score dl {
    font-size: 1.6rem;
    justify-content: space-between;
  }
  .record_score dl dt {
    width: 40%;
  }
}

.record_closing {
  margin-top: 30px;
}
.record_closing .closing_btn_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.record_closing .closing_btn {
  background-color: #FF3700;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  letter-spacing: normal;
}

.record_type {
  text-align: center;
  margin-bottom: 30px;
}
.record_type .select_type {
  overflow: hidden;
  border: 1px solid #000;
  padding: 15px 20px;
  padding-right: 40px;
  border-radius: 50vh;
  background-color: #fff;
  cursor: pointer;
  font-family: corporate-logo-ver2, sans-serif;
  width: 100%;
}
.record_type .select_wrapper {
  display: inline-block;
  position: relative;
  width: 300px;
  max-width: 100%;
}
.record_type .select_wrapper::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(135deg);
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 20px;
  top: 0;
  pointer-events: none;
  transition: all 0.5s;
}
.record_type .select_wrapper:checked::after {
  content: "";
  transform: rotate(0deg);
  display: none;
}
.record_type .test_screen_wrapper {
  margin: 20px auto 50px auto;
  width: 40%;
}
.record_type .test_screen {
  width: 100%;
  aspect-ratio: 3/2;
  background-color: #000;
}

.setting_btn {
  margin-top: 50px;
}

.recordBox {
  background-color: #FFF0C9;
  padding: 40px;
  border-radius: 5px;
}
.recordBox h2 {
  margin-bottom: 40px;
}
.recordBox .recordBox_total .recordBox_total_graf {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}
.recordBox .recordBox_howto {
  display: flex;
  flex-direction: column;
}
.recordBox .recordBox_howto .recordBox_howto_list {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  flex: 1;
}
.recordBox .recordBox_howto .recordBox_howto_list li {
  margin-bottom: 7px;
}
.recordBox .recordBox_howto .recordBox_howto_list li.close_layer {
  position: relative;
  pointer-events: none;
}
.recordBox .recordBox_howto .recordBox_howto_list li.close_layer::after {
  content: "準備中";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(140, 140, 140, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.recordBox .recordBox_howto .recordBox_howto_list li:last-child {
  margin-bottom: 0;
}
.recordBox .recordBox_howto .recordBox_howto_list li a {
  display: block;
  text-align: center;
  padding: 7px;
  background-color: #edffd0;
  border-radius: 5px;
}
.recordBox .recordBox_howto .recordBox_howto_list li a span {
  position: relative;
}
.recordBox .recordBox_howto .recordBox_howto_list li a span:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/ico/ico_finger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: -26px;
  top: 0;
}
.recordBox .recordBox_list_wrapper {
  margin-top: 50px;
}
.recordBox .recordBox_list .recordBox_item {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 35px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .recordBox .recordBox_list .recordBox_item {
    padding: 30px 15px;
  }
}
.recordBox .recordBox_list .recordBox_item:last-child {
  margin-bottom: 0;
}
.recordBox .recordBox_list .recordBox_item .recordBox_item_date {
  border: 1px solid #C9BC9C;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 220px;
}
.recordBox .recordBox_list .recordBox_item .recordBox_item_date .recordBox_item_date_txt {
  display: block;
  border-radius: 2px 0 0 2px;
  background-color: #C9BC9C;
  padding: 10px;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term {
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgb(235, 235, 235);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 1080px) {
  .recordBox .recordBox_list .recordBox_item .recordBox_term {
    flex-direction: column;
    padding: 10px;
  }
}
.recordBox .recordBox_list .recordBox_item .recordBox_term:last-child {
  margin-bottom: 0;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_subject {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  min-width: 100px;
  color: #fff;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_subject.japanese {
  background-color: #C9BC9C;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_subject.english {
  background-color: #FF3700;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_subject.math {
  background-color: #002FBE;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_subject.science {
  background-color: #07b53b;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_subject.social {
  background-color: #F19100;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_subject.other {
  background-color: #5600B3;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_time span {
  border-right: 1px solid #000;
  padding: 0 15px;
}
.recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_time span:last-child {
  border-right: none;
  padding-right: 0;
}
@media screen and (max-width: 1080px) {
  .recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_time {
    display: flex;
    flex-direction: column;
  }
  .recordBox .recordBox_list .recordBox_item .recordBox_term .recordBox_item_time span {
    border-right: none;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .recordBox {
    padding: 20px;
  }
}

.movie_archive .movie_box {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
.movie_archive .movie_box .movie_box_ttl {
  background-color: #edffd0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.movie_archive .movie_box .movie_box_list {
  -moz-column-count: 2;
       column-count: 2;
}
.movie_archive .movie_box .movie_box_list li {
  margin-bottom: 30px;
}
.movie_archive .movie_box .movie_box_list li:last-child {
  margin-bottom: 0;
}
.movie_archive .movie_box .movie_box_list li a {
  display: inline-block;
  color: #0000ee;
  text-decoration: underline;
}
.movie_archive .movie_box .movie_box_list li a:visited {
  color: #551a8b;
}
.movie_archive .movie_box .movie_box_list li a:active {
  color: #ff0000;
}
@media screen and (max-width: 1080px) {
  .movie_archive .movie_box .movie_box_list {
    -moz-column-count: 1;
         column-count: 1;
  }
  .movie_archive .movie_box .movie_box_list li a {
    font-size: 14px;
  }
}